.App {
padding: 3rem 8rem;
background-color: rgb(64, 64, 217);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,65,200,1) 40%, rgba(130,14,189,1) 100%);
color: whitesmoke;
}
.section{
  display: flex;
}
.profile-img{
  border: 2px solid black
}
.skill-img{
  width: 120px;
  height: 120px;
  margin-right: 2rem;
}

.social{
 display: inline-block;
 margin-right: 2rem
}


